@media (max-width: 425px) {

  section {
    max-width: 425px;
    padding-left: 8px;
    padding-right: 8px;
  }

  div.container {
    padding: 0px;
    max-width: 304px;
    width: 100%;
    margin: 0;
  }

  .duck__centerimg {
    display: none;
  }

  section.duck__white {
    padding: 8px 8px 160px 8px;
    background: url('../img/duck4.png') no-repeat 100% 50%,
                url('../img/egg1.png') no-repeat 0% 0%,
  }

  section.duck__white div.container div.row {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .duck__line {
    max-width: 304px;
    width: 100%;
  }
  div.duck__productive {
    line-height: 1.3;
  }

  div.duck__pictures img {
  max-width: 300px;
  width: 100%;
  }

  div.duck__textblock {
    max-width: 408px;
    width: 100%;
    margin-top: 32px;
  }

  h1.duck__title {
    font-size: 50px;
  }

}

section.duck__tan div.container div.row {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

div.duck___duck6img {
  order: -1;
}

div.duck__subscribe p {
  text-align: center;
}

div.duck__inputbox {
  display: flex;
  flex-flow: row;
  width: 100%;
}

input.duck__input {
  font-size: 12px;
  width: 70%;
}

button.duck__plane {
  position: relative;
  top: 0px;
}

section.duck__fin div.row {
  flex-direction: column;
  align-items: center;
}

div.duck__25 {
  display: none;
}

div.footer__duckspace {
  font-size: 8px;
  text-align: center;
}

div.footer div.row div.footer__menu a:link {
  font-size: 8px;
}
