@media (max-width: 768px) {

  section {
    overflow:hidden;
  }
  section.hero div.container div.row {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  h1.duck__heading {
      font-size: 30px;
      text-align: center;
  }
  .duck__centerimg {
    order: -1;
  }
}

  img.duck__shadow {
    display: none;
  }

  div.header__menu a {
    display: none;
  }
