@media (max-width: 768px) {

  header {
    overflow: hidden;
  }
  section {
    overflow: hidden;
  }
  section.hero div.container div.row {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  h1.duck__heading {
      font-size: 30px;
      text-align: center;
  }
  .duck__centerimg {
    order: -1;
    padding-top: 50px;
  }
}

  img.duck__shadow {
    display: none;
  }

  div.header__menu {
    display: flex;
    flex-direction: column;
  }

  div.menu__wrap{
    position: absolute;
    visibility: hidden;
    padding-bottom: 10px;
    top: 65px;
  }


  span.hamburger:focus + div.menu__wrap {
    visibility: visible;
    display: flex;
    flex-direction: column;
}
