@media (max-width: 768px) {

  header.site__header {
    overflow: hidden;
    max-width: 768px;
    width: 100%;
  }

  section {
    overflow: hidden;
    max-width: 768px;
    width: 100%;
  }

  div.container {
    max-width: 736px;
    width: 100%;
    padding: 0px 16px 0px 16px;
    overflow: hidden;
  }

  header div.container div.row {
    max-width: 736px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  div.header__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 16px;
  }

  button.hamburger {
    outline: none;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    order: 1;
  }

  div.menu__wrap {
    display: none;
  }

  div.menu__wrap--open {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    order: 2;

    position: fixed;
    top: 70px;

    transition: all .4s ease-in-out;
    transition-delay: 0.2s;
  }


  section.hero div.container div.row {
    width: 100%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .duck__centerimg {
    order: -1;
    width: 100%;
  }

  img.duck__shadow {
    display: none;
  }

  div.duck__info {
    width: 100%;
    display: flex;
    flex-flow: column;
  }

  h1.duck__heading {
    font-size: 25px;
    text-align: center;
    margin: 0;
  }

  section.duck__white {
    padding-top: 16px;
  }
  img.duck__line {
    max-width: 736px;
    width: 100%;
  }


  div.duck__pictures img {
    max-width: 300px;
    width: 100%;
  }


    div.duck__25 {
      max-width: 228px;
      width: 25%;
    }

    div.duck__price {
      max-width: 500px;
    }

    h1.duck__headingfin {
      font-size: 36px;
    }

    p.duck__textfin {
      width: 100%;
      font-size: 16px;
    }
}
