@font-face {
  font-family: "WorkSans";
  src: url(../fonts/WorkSans-Regular.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: url(../fonts/WorkSans-Bold.otf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "DroidSerif";
  src: url(../fonts/DroidSerif-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*helper class */
.duck__border {
  border: 2px red solid;
}

.bgcolor {
  background: #e1dccf;

}

div.header__top {
  max-height: 116px;
  height: 100%;
  padding-top: 42px;
  padding-bottom: 57px;
}

header.site__header {
  max-width: 1322px;
  width: 100%;
  background: #ffffff;
  margin: 0 auto;

}

div.container {
  width: 100%;
  margin-left: 22px;
  max-width: 1300px;
}

div.row {
  display: flex;
  justify-content: space-around;
}

div.duck__home {
  opacity: 0.29;
  font-family: WorkSans;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.09;
  letter-spacing: normal;
  text-align: right;
  color: rgba(56, 68, 100, 0.29);
}

div.duck__menu {
  font-family: WorkSans;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: justify;

  max-width: 653px;
  width: 100%;

  display: flex;
  justify-content: space-around;
}

a:link {
  font-family: WorkSans;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: justify;
  color: #6d6d6d;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid  #384464;
  color: #384464;
}

div.hamburger__line {
  width: 29px;
  height: 2px;
  border-radius: 0.5px;
  background-color: #6d6d6d;
  margin-bottom: 6px;
}

article.duck {
  width: 100%;
  background: #ffffff;
  margin: 0 auto;
  max-width: 1322px;
}

section.hero {
  background: #e1dccf;
}

div.duck__row {
  display: flex;
}

div.duck__leftimg {
  margin-left: -22px;
}

div.duck__info {
    max-width: 512px;
    width: 100%;
}

h1.duck__heading {
  font-family: DroidSerif;
  font-size: 60px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #374464;
}

p.duck__paragraph {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  color: rgba(44, 44, 44, 0.8);
}

button.duck__btn{
  width: 200px;
  height: 58px;
  border-radius: 28px;
  box-shadow: 0px 5px 5px 0 rgba(1, 2, 2, 0.2);
  background-color: #c38b70;
}

span.duck__btntext {
  width: 99px;
  height: 14px;
  font-family: WorkSans;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}

div.duck__centerimg {
  max-width: 569px;
  max-height: 569px;
  position: relative; 
  z-index: 2;
}

div.duck__rightimg {
  float: right;
  position: relative;
  z-index: 3;
}
