@font-face {
  font-family: "WorkSans";
  src: url(../fonts/WorkSans-Regular.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: url(../fonts/WorkSans-Bold.otf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "DroidSerif";
  src: url(../fonts/DroidSerif-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*helper class */
.duck__border {
  border: 2px red solid;
}

header.site__header {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.bg__color {
  background-color: #e1dccf;
}
.header__height {
  padding-top: 42px;
  padding-bottom: 57px;
}

div.container {
  max-width: 964px;
  width: 100%;
  margin: 0 auto;
}

div.row {
  display: flex;
  justify-content: space-between;
}

div.site__home {
  opacity: 0.29;
  font-family: WorkSans;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.09;
  letter-spacing: normal;
  text-align: right;
  color: rgba(56, 68, 100, 0.29);
}

div.hamburger__line {
  width: 29px;
  height: 2px;
  border-radius: 0.5px;
  background-color: #6d6d6d;
  margin-bottom: 6px;
}

div.header__menu {
  font-family: WorkSans;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: justify;

  max-width: 653px;
  width: 100%;

  display: flex;
  justify-content: space-around;
}

a:link {
  font-family: WorkSans;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: justify;
  color: #6d6d6d;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid  #384464;
  color: #384464;
}

article.duck {
  width: 100%;
  background: #ffffff;
  margin: 0 auto;
  max-width: 1300px;
  overflow: hidden;
}

section.hero {
  padding-bottom: 59px;
  background:  url('../img/duck1.png') no-repeat,
             url('../img/duck3.png') no-repeat 100% 0;;
  background-color:#e1dccf;
}

div.duck__info {
  width: 55%;
}

h1.duck__heading {
  font-family: DroidSerif;
  font-size: 60px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #374464;
}

p.duck__paragraph {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  color: rgba(44, 44, 44, 0.8);
}

button.duck__btn{
  width: 200px;
  height: 58px;
  border-radius: 28px;
  box-shadow: 0px 5px 5px 0 rgba(1, 2, 2, 0.2);
  background-color: #c38b70;
}

span.duck__btntext {
  width: 99px;
  height: 14px;
  font-family: WorkSans;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}

div.duck__centerimg {
  width: 35%;
}

img.duck__center {
  position: relative;
  z-index: 3;
}
img.duck__shadow {
  position: relative;
  left: -25%;
  top: -8%;
}
