@font-face {
  font-family: "WorkSans";
  src: url(../fonts/WorkSans-Regular.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: url(../fonts/WorkSans-Bold.otf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "DroidSerif";
  src: url(../fonts/DroidSerif-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}


/*helper class */
.duck__border {
  border: 2px red solid;
}

body {
  margin: 0px;
}

header.site__header {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.bg__color {
  background-color: #e1dccf;
}
.header__height {
  padding-top: 42px;
  padding-bottom: 57px;
}

div.container {
  max-width: 964px;
  width: 100%;
  margin: 0 auto;

  padding-left: 16px;
  padding-right: 16px;
}

div.row {
  display: flex;
  justify-content: space-between;
}

div.site__home {
  opacity: 0.29;
  font-family: WorkSans;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.09;
  text-align: right;
  color: rgba(56, 68, 100, 0.29);
}

button.hamburger {
  background: none;
  border: none;
  outline: none;

  position: relative;
  z-index: 1;
  cursor: pointer;
  display: none;
}

div.hamburger__line {
  width: 29px;
  height: 2px;
  border-radius: 0.5px;
  background-color: #6d6d6d;
  margin-bottom: 6px;
}

div.header__menu {
  font-family: WorkSans;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: justify;

  max-width: 653px;
  width: 100%;

  display: flex;
  justify-content: space-around;

  align-items: center;
}

div.menu__wrap {
  order: -1;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

a:link {
  font-family: WorkSans;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: justify;
  color: #6d6d6d;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid  #384464;
  color: #384464;
}

article.duck {
  width: 100%;
  background: #ffffff;
  margin: 0 auto;
  max-width: 1300px;
  overflow: hidden;
}

section {
  overflow: hidden;
}

section.hero {
  padding-bottom: 59px;
  background:  url('../img/duck1.png') no-repeat,
             url('../img/duck3.png') no-repeat 100% 0;;
  background-color:#e1dccf;
}

div.duck__info {
  width: 55%;
  align-items: center;
}

h1.duck__heading {
  font-family: DroidSerif;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.25;
  text-align: left;
  color: #374464;

  margin: 0 auto;
  padding-top: 110px;
  padding-bottom: 49px;
}

p.duck__paragraph {
  opacity: 0.8;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.63;
  text-align: left;
  color: rgba(44, 44, 44, 0.8);
  margin: 0 auto;

  padding-bottom: 41px;
}

button.duck__btn{
  width: 200px;
  height: 58px;
  border-radius: 28px;
  box-shadow: 0px 5px 5px 0 rgba(1, 2, 2, 0.2);
  background-color: #c38b70;
  border: none;
}

span.duck__btntext {
  font-family: WorkSans;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  text-align: right;
  color: #ffffff;
}

div.duck__centerimg {
  width: 35%;
}

img.duck__center {
  position: relative;
  z-index: 3;
}
img.duck__shadow {
  position: relative;
  left: -25%;
  top: -8%;
}

section.duck__white {
  background:  url('../img/egg1.png') no-repeat 0% 0%,
               url("../img/Product.png") no-repeat 50% 0,7%,
             url('../img/duck4.png') no-repeat 100% 15%;
  padding-bottom: 160px;
}

div.duck__graphic {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

div.duck__graphimg {
  position: relative;
  top: 30%;
  width: 100%;
  display: flex;
  justify-content: center;

}

img.duck__line {
  max-width: 904px;
}

div.duck__productive {
  font-family: WorkSans;
  font-size: 26px;
  font-weight: 300;
  line-height: 0.77;
  text-align: center;
  color: #636363;
  position: relative;
  top: 10%;
}

div.duck__pictures {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 0 0 5%;
}
div.duck__gooseimg {
  position: relative;
  left: -5%;

  padding-top: 36px;
}

div.duck__textblock {
  width: 48%;
  margin-top: 88px;
}

h1.duck__title {
  font-family: WorkSans;
  font-size: 63px;
  font-weight: bold;
  line-height: 0.32;
  text-align: left;
  color: #384464;

  margin-bottom: 5%;
}

p.duck__text {
  font-family: OpenSans;
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
  color: #636363;
}

div.duck__crested {
  background: url(../img/01bg.png) no-repeat 0% 0%;
}

div.duck__muscovy {
  background: url(../img/02bg.png) no-repeat 0% 0%;
}

div.duck__orpington {
  background: url(../img/03bg.png) no-repeat 0% 0%;
}

div.duck__rouen {
  background: url(../img/04bg.png) no-repeat 0% 0%;
}

section.duck__tan {
  background:  url('../img/duck7.png') no-repeat,
               url('../img/duck8.png') no-repeat 100% 0;
  background-color:#e1dccf;
  padding-top: 40px;
  padding-bottom: 40px;
}



div.duck__subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}

h1.duck__heading2 {
  font-family: WorkSans;
  font-size: 60px;
  font-weight: bold;
  line-height: 0.33;
  text-align: center;
  color: #384464;

  margin: 4%;
}

p.duck__substext {
  font-family: OpenSans;
  font-size: 18px;
  line-height: 1.11;
  text-align: right;
  color: #565656;

  margin-bottom: 12%;
}

div.duck__inputbox {
  width: 60%;
}

input.duck__input {
  border: none;
  outline: none;
  background: none;
  width: 80%;
  border-bottom: 3px solid #c38b70;
  border-bottom-left-radius: 1.5px;
  border-bottom-right-radius: 1.5px;


  font-family: OpenSans;
  font-size: 18px;
  line-height: 2.3;
}

input.duck__input::placeholder {

  color: rgba(86, 86, 86, 0.32);
  text-align: left;
}

button.duck__plane {
  border: none;
  outline: none;
  padding: 8px;
  background-color: #c38b70;
  height: 46px;
  width: 46px;

  position: relative;
  left: -5px;
  top: 6px;
}

section.duck__fin {
  background: url('../img/duck9.png') no-repeat 0% 0%,
              url('../img/duck12.png') no-repeat 0% 50%,
              url('../img/duck14.png') no-repeat 0% 100%;
  background-color: #f3f3f3;
}

section.duck__fin div.row {
  padding-top: 140px;

}

div.duck___25 {
  width: 25%;
}

img.duck___imgwidth {
  width: 100%;
}

div.duck__price {
  width: 66%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: relative;
  top: -28px;
}

h1.duck__headingfin {
  font-family: WorkSans;
  font-size: 63px;
  font-weight: bold;
  line-height: 0.32;
  text-align: center;
  color: #384464;
}

div.duck__headingsfin {
  padding-left: 5%;
}

span.duck__heading2fin {
  font-family: WorkSans;
  font-size: 34px;
  font-weight: bold;
  line-height: 0.4;
  text-align: center;
  color: #c38b70;
}

span.duck__heading3fin {
  font-family: WorkSans;
  font-size: 27px;
  font-weight: 300;
  line-height: 0.4;
  text-align: center;
  color: #c38b70;
}

p.duck__textfin {
  font-family: OpenSans;
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
  color: #565656;
  padding: 36px 0 36px 0;
}

div.duck___duck11img {
  position: relative;
  top: -50px;
}

div.duck___duck13img {
  position: relative;
  top: -10px;
}

div.footer {
  background-color: rgb(46, 66, 101);
}

div.footer__duckspace {
  font-size: 12px;
  font-family: "OpenSans";
  color: rgba(255, 255, 255, 0.302);
  line-height: 1.25;
  text-align: left;
  width: 25%;
}

div.footer__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 59%;
}

div.footer__menu a:link {
  font-family: "WorkSans";
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: justify;
  color: #ffffff;
  text-decoration: none;
}

div.footer__menu a:hover {
  border-bottom: 2px solid  #ffffff;
  color: #ffffff;
}
